body {
	margin: 0;
}

.maincontainer {
	width: 1000px;
	height: 100px;
	margin: auto;
}

.innercontainer {
	float: right;
}

.btlogout {
	width: 100px;
	height: 30px;
	text-align: center;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	background-color: #006064;
	color: white;
	border-color: black;
	border-radius: 5px;
}

.maincontainer1 {
	width: 100%;
	height: 50px;
	background-color: #006064;
}

.innercontainer1 {
	width: 1000px;
	height: 50px;
	margin: auto;
	margin-top: 0;
}

.logo {
	margin: 0;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	color: white;
	line-height: 50px;
}

.maincontainer2 {
	width: 1000px;
	height: 600px;
	margin: auto;
}

.left {
	width: 230px;
	height: 600px;
	float: left;
	border: solid 1px balck;
}

.ul1 {
	list-style: none;
	padding: 0px;
	font-family: arial;
	font-size: 13px;
	border: solid 1px #CCC;
	border-top: none;
	margin: 0;
}

.ul1 li {
	padding: 10px;
	border-bottom: solid 1px #CCC;
}

.ul1 li:nth-child(1) {
	padding-top: 30px;
}

.ul1 li:nth-child(odd) {
	font-weight: bold;
	color: #006064;
}

.ul1 li:nth-child(even) {
	color: black;
	border-bottom: solid 3px #CCC;
}

.ul1 li:nth-child(6) {
	font-weight: bold;
	color: #006064;
}

.ul1 li:nth-child(7) {
	color: black;
	font-size: 10px;
}

.ul2 {
	list-style: none;
}

.right {
	width: 770px;
	height: 600px;
	float: right;
}

.pm {
	font-family: arial;
	font-size: 18px;
	border-top: 10px;
	color: #006064;
	font-weight: bold;
	width: 500px;
	border-bottom: solid 2px #CCC;
	padding: 5px;
	margin-left: 10px;
}

.pm1 {
	font-family: arial;
	color: black;
	font-size: 13px;
	margin-left: 10px;
}

.pm2 {
	font-family: arial;
	color: black;
	font-size: 13px;
	text-align: center;
	margin-left: 10px;
	border: solid 1px #CCC;
	padding: 5px;
}

.pm2 a {
	color: blue;
}

.table1 {
	font-family: arial;
	font-size: 13px;
	color: black;
	width: 770px;
	margin-left: 7px;
	border-collapse: collapse;
	border: solid 1px #CCC;
}

.table1 tr {
	border-bottom: solid 1px #CCC;
}

.table1 td {
	padding: 5px;
}

.table1 select {
	width: 170px;
	padding: 2px;
}

.search {
	background-color: #E0F2F1;
}

.search2 {
	background-color: #006064;
	color: white;
	border-radius: 5px;
}

.p1 {
	font-family: arial;
	font-size: 13px;
	color: black;
	margin-left: 7px;
	/*padding: 30px;*/
}

.table2 {
	width: 770px;
	font-size: 13px;
	font-family: arial;
	color: black;
	border: solid 1px #CCC;
	margin-left: 7px;
	border-collapse: collapse;
	padding: 5px;
}

.table2 td {
	border: solid 1px #CCC;
	padding: 4px;
}

.t21 {
	font-weight: bold;
	font-family: 20px;
	text-align: center;
	border-collapse: collapse;
	border: solid 1px balck;
}

.t23 {
	font-family: 20px;
	text-align: center;
	border-collapse: collapse;
	border: solid 1px balck;
}

.delete {
	float: right;
	font-family: arial;
	font-size: 13px;
	color: white;
	background-color: #006064;
	border-radius: 5px;
}

.footer {
	width: 100%;
	height: 50px;
	margin: auto;
	background-color: #0097A7;
	clear: both;

}